@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-white:#fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255,255,255,0);
}

body {
    font-family: "Roboto Condensed" sans-serif;
}

nav {
    z-index: 2;
}
.logo{
    width: 9rem;

}

/**links**/

nav a.nav-link{
    
    letter-spacing: 0.0375px;
    cursor:pointer;
}

nav ul li{
    text-transform:uppercase;
    
}

.navbar-nav >li> a{
    margin-right:0.75rem;
    margin-left:0.75rem;
    color: var(--primary-white) !important; 
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
    max-width:17.25rem;
    padding:0;
   /*** height:6rem !important;**/
}
.navbar-light .navbar-brand {
    color: white !important;
}

@media(max-width:768px) {
    .navbar-brand{
        width:7rem;
    }
}
.navbar-nav >li > a.active, .navbar-nav > li > a.active:focus{
    border-top: 0.187rem solid var(--primary-orange);
}

.navbar-nav >li >a:hover{
    border-top: 0.1875rem solid var(--primary-orange);
}

.header-wraper {
    position: relative;
    background:#004c4c no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info{
    display:flex;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index:1;

}

.propic {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 80px;
    z-index:2;
    border-style:solid;
    border-color: white;
}

@media(max-width:768px){
    .main-info h1{
        font-size:1.5rem !important;
    }
    .typed-text{
        font-size:1.3rem !important;
    }
}
.typed-text{
    font-size: 4rem;
    color: white;
    
}
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width:100vw;
    z-index: 1;
}

@media(max-width:768px) {
    .particles-canvas {
        display: none;
    }
}

.about-wraper {
    position: relative;
    background: linear-gradient(90deg, #004c4c 50%, #FFFF 50%);
    background-size: cover;
    background-position: center;
    height: 90vh;
}


.education-info {
    display: flex;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right:0;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

